<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <style>
      body {
        background-color: #DACEBE;
        color: #6E8097;
      }
      body a {
        background-color: #E1C7D4;
        color: #7A9A8E;
      }
      .navbar {
        display: flex;
        justify-content: space-between;
      }
    </style>
  </head>

  <body>
    <h1>Home</h1>
    <h1>Welcome to Rock-Paper-Scissors!</h1>
    <p><%=@rand_move%></p>
    <a href="">Testing</a>
  </body>
</html>
